asgiref
beautifulsoup4
bleach
bs4
defusedxml
diff-match-patch
dj-database-url
Django
django-import-export
django-resized
django-summernote
et-xmlfile
import-export
MarkupPy
odfpy
openpyxl
pillow
psycopg2
pybase64
PyYAML
six
soupsieve
sqlparse
tablib
typing_extensions
tzdata
gunicorn
webencodings
whitenoise
xlrd
xlwt
requests
xlsxwriter
pygeoip
docx2txt
doc2docx
pypdf
